/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(viajes.jpg); /* Fondo de viajes */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que el fondo no se mueva al hacer scroll */
}

/* Contenedor principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Toma toda la altura de la pantalla */
    padding: 20px;
    text-align: center;
    color: white; /* Texto blanco sobre el fondo */
    z-index: 1;
}

/* Header */
header {
    background-color: rgba(0, 140, 186, 0.7); /* Fondo semitransparente */
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Formulario */
#formulario {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006F8E;
}

/* Itinerario */
#itinerario {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,
